.main1{

  width: 80%;
  margin: 60px 8% 0% 8%;
  height:400px;
  padding: 20px;
  
  box-shadow: 0px 0px 8px 3px rgb(150, 141, 141);
  /* border: solid yellowgreen; */
  
}
 .hedding{
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  margin:30px;
  color: black;
 

  text-decoration: double underline;
 
}
h1{
  margin-left: 30px;
  color: blueviolet;
}
.scroll{
  width: 100%;
  height: 400px;
  
  /* overflow-y:hidden; */
  overflow-x: scroll;
  scrollbar-width: none;

  float:left;
  display: flex;

}
.f1{
  width: 300px;
  height: 350px;
  margin: 20px;
  
  margin-left: 90px;
}
/* .f2{
  width: 164px;
} */
 .f1 img{
  height: 300px;
  width: 220px; 
}
.f1:hover{
box-shadow: 0px 0px 2px 4px rgb(155, 141, 141);
/* transform: translate(2px); */
}
span{
  margin: 5px;
  margin-left: 15px;
}
.sign{
  background-color: rgb(218, 215, 250);
  margin: 0% 8% 0% 8%;
  padding: 1%;
 display: flex;
  width: 80%;
  height: 60px;
}
.text{
  width:50%;
  /* background-color: aqua; */
} 
.tera{
  width: 50%;
  margin-top:5px;
  /* background-color: black; */
  display: flex;
}


.footer{
  margin: 0% 8% 0% 8% ;
  width: 80%;
  padding: 1%;
  height: 300px;
   background-color: blueviolet;
  display: flex;
}
.footertext{
  width: 20%;
  float: left;
  height: 230px;
  padding: 5%;
  overflow: hidden;
 
 
  
}

form{
  border: none;
}