 form{
  height: 400px;
  width: 300px;
  margin: auto;
  border: 2px solid gray;
  /* background-color: aquamarine; */
 }
 .main{
  width: 900px;
  margin-top:30px;
  margin-left: 50px;
  margin-right: 30px;
  background-color: antiquewhite;
  text-align: center;

 }
 label{
  font-size: 20px;
  font-weight: bold;
 }
 .maincopy{
  
  padding: 20px;
 }
 input{
  margin-top: 4px;
  width: 100%;
  height:25px
 }
 button{
  margin: 4px;
  /* height: 25px;
  
  width: 100px; */
  /* margin-left: 80px; */
 }
 
 
 /* .App {
  text-align: center;
}


  label{
    font-size: 20px;
    font-weight:bold;
  }

    header {
      background-color: #4CAF50;
      color: white;
      padding: 20px;
      text-align: center;
      font-size: 24px;
    }
    .sachin{
      height: 300px;
      width:200px;
      margin: auto;
      text-align:center;
      /* animation-name: sachinn; */
      /* border: 8px double red;
      
      transition: 4s;
      transform: rotateY(360deg);
    } */
    
    
   /* button{ */
    /* margin-left:300px;
    margin-top: 10px;
   } */
   
