body{
  margin: 0%;
}
.navbar{
 
 width: 100%;
 height: 28px;
  background-color: bisque;
} 
.navbar a{
 float: left;
 height: 28px;
 width:100px;
 text-decoration: none;
 text-align: center;
}
.navbar a:hover{
  background-color: aqua;
  text-decoration:underline;

}
  